@media(max-width:768px){
    header{
    padding: 15px 20px;
   }
   .onglet{
    gap: 5px;
   }
    img{
        width: 100%;
    }
    footer{
        font-size: 14px;
    }
    h1{font-size: 26px;}
    h2{ font-size: 22px;}
    h3{font-size: 18px;}
    p, li, a, label {
        font-size: 15px;
    }
    main .ban .banner h1 {
    font-size: 36px;
    }
}
body{
    font-size: 16px;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    display: flex;
    gap: 30px;
} 
header .onglet a{
    text-decoration: none;
    font-weight: 500;
    gap: clamp(10px, 4vw, 30px);
    color: #FFFFFF;
}
.home:hover{
    color:#0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
.about:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
.contact:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1)
}
main img{
	max-width: 100%;
	height: auto;
}	
main .ban .banner h4{
    text-align: center;    
}
main .ban .banner h1{
    text-align: center;
    font-size: 100px;
}
main .information{
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:50% 50%;
    width: 100%;
    height: auto;
    gap: 5px;
    padding:0 5px;
}
main .information .pseudo{
    background: #e8f5ff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .information .pseudo img{
    max-width: 65%;
    height: auto;
    object-fit: cover;
}
main .information .slogan{
    background: #e8f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}
main .information .titre{
    background: #e8f5ff;;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}
main .information .egslogan{
    display: flex;
    flex-direction: column;
    background: #e8f5ff;
    align-items: center;
    object-fit: cover;
}
main .information .egslogan img{
    max-width: 70%;
    height: 200;
    display: block;
}

footer{
	background-color:rgb(20,24,33);
	color:#FFFFFF;
	text-align:center;
}
.contacter:hover{
    color: #0000ff;
    text-decoration: underline;
}