@media(max-width:768px){
    header{
    padding: 15px 20px;
   }
   .onglet{
    gap: 5px;
   }
    img{
        width: 100%;
    }
    footer{
        font-size: 14px;
    }
    h1{font-size: 26px;}
    h2{ font-size: 22px;}
    h3{font-size: 18px;}
    p, li, a, label {
        font-size: 15px;
    }
    .banner h1{
        font-size: 32px;
    }
    h4{
        font-size: 14px;
    }
}
body{
    font-size: 16px;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    display: flex;
    gap: 30px;
} 
header .onglet a{
    text-decoration: none;
    font-weight: 500;
    gap: clamp(10px, 4vw, 30px);
    color: #FFFFFF;
}
.home:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
.about:hover{
    color:#0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
.contact:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
main .ban .banner h4{
    text-align: center;    
}
main .ban .banner h1{
    text-align: center;
    font-size: 100px;
}
main .presentation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    
}

footer{
    background-color:rgb(20,24,33);
	color:#FFFFFF;
	text-align:center;
}
.contacter:hover{
    color: #0000ff;
    text-decoration: underline;
}