@media(max-width:768px){
    header{
    padding: 15px 20px;
   }
   .onglet{
    gap: 5px;;
   }
    img{
        width: 100%;
    }
    footer{
        font-size: 14px;
    }
    h1{font-size: 26px;}
    h2{ font-size: 22px;}
    h3{font-size: 18px;}
    h5{font-size: 16px;}
    p, li, a, label {
        font-size: 14px;
    }
    body{
    font-size: 16px;
    line-height: 1.6;
    }
    main .banner h1{
    font-size: 32px;
    }
    main .info h1{
    font-size: 28px;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    display: flex;
    gap: 30px;
} 
header .onglet a{
    text-decoration: none;
    font-weight: 500;
    gap: clamp(10px, 4vw, 30px);
    color: #FFFFFF;
}
.home:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
.about:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
.contact:hover{
    color: #0000ff;
    text-decoration: none;
    transform: scale(1.1);
}
main .banner{
    text-align: center;
}
main .bannerinfo{
    text-align: center;
}
main .banner h1{
    font-size: clamp(32px, 8vw, 80ox);
}
main .info{
    text-align: center;
}
main .info h1{
    font-size: clamp(28px, 6vw, 60px);
}
main .local img{
    width: 100%;
    height: 300px;
}
main .name form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
main .name form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}
main .email form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
main .email form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}
main .message form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
main .message form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}
.btn:hover{
    background-color: #0000ff;
    transform: scale(1.1);
}
footer{
    background-color:rgb(20,24,33);
	color:#FFFFFF;
	text-align:center;
}
.contacter:hover{
    color: #0000ff;
    text-decoration: underline;
}